<div id="about-us">
    <div class="container">
        <nav>
            <a href="/">
                <img src="./../../assets/images/coffee-logo.png" class="logo" alt="Coffee Shop Logo">
            </a>
            <ul id="sidemenu">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about-us">About Us</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="header-text">
            <h1>About <span>Us</span></h1>
        </div>
    </div>
</div>
<div class="info-text">
    <div class="container">
        <div class="info-list">
            <div class="info">
                <h1>WHO WE ARE</h1>
                <h2>COFFEE HAVEN</h2>
                <h3 class="line"></h3>
            </div>
            <div class="info">
                <p>At Coffee Haven, we don't just serve coffee <span>We create memorable experiences</span>. We are dedicated to bringing value to every cup 
                    and setting new standards in the coffee industry with our premium quality services.<br><br>
                    We offer premium and <span>high-quality</span> coffee to our customers, always striving for perfection and remarkable experience. 
                    Our commitment is to exceed our customers' expectations with personalized service and attention to detail.<br><br>
                    We believe that every customer deserves something <span>truly special</span>. That's why we offer a wide range of options. From personalized consultation to maintenance services, beautification, and the highest quality protection, we are here to turn our customers' dreams into reality.</p>
            </div>
            <div class="info">
                <img src="./../../assets/images/cofee2.jpg" class="img-aboutUs" alt="Coffee Shop">
            </div>
        </div>
    </div>
</div>
<div id="special-project">
    <div class="container">
        <div class="special-project-text">
            <h1>HAVE A SPECIAL EVENT?</h1>
            <a href="/contact" class="btn-specialproject">LET'S TALK</a>
        </div>
    </div>
</div>
<div class="nav2">
    <div class="container">
        <nav>
            <a href="/">
                <img src="./../../assets/images/coffee-logo.png" class="logo" alt="Coffee Shop Logo">
            </a>
            <p>Copyright by<br> COFFEE HAVEN</p>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about-us">About Us</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
