<div id="contact">
    <div class="container">
        <nav><a href="/">
            <img src="./../../assets/images/coffee-logo.png" class="logo">
        </a>
            <ul id="sidemenu">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about-us">AboutUs</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="header-text">
            <h1>Contact<span>Us</span></h1>
        </div>
    </div>
</div>
<div id="contact-form">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title"><span>Contact</span> Star</h1>
                <p><i class="fa-solid fa-paper-plane"></i>cofeestar.gmail.com</p>
                <p><i class="fa-solid fa-phone"></i>Tel: +412311231241</p>
            </div>
            <div class="contact-right">
                <form name="submit-to-google-sheet">
                    <input type="text" name="Nume" placeholder="Nume" required>
                    <input type="email" name="Email" placeholder="Email" required>
                    <textarea name="Mesaj" rows="6" placeholder="Mesaj"></textarea>
                    <button type="submit" class="btn">TRIMITE MESAJ</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="Proiect-special">
    <div class="container">
        <div class="Proiect-special-text">
            <h1>AVE A SPECIAL REQUEST?</h1>
            <a href="/contact" class="btn-proiectspecial">HAI SA DISCUTAM</a>
        </div>
    </div>
</div>
<div class="nav2">
<div class="container">
    <nav>
        <a href="/">
            <img src="./../../assets/images/coffee-logo.png" class="logo" alt="Coffee Shop Logo">
        </a>
        <p>Copyright by<br> COFFEE HAVEN</p>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about-us">About Us</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
</div>
</div>