<div id="Home">
    <div class="container">
        <nav>
            <a routerLink="/">
                <img src="./../../assets/images/coffee-logo.png" class="logo">
            </a>
            <ul id="sidemenu">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about-us">About Us</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="header-text">
            <p>LOVE YOUR COFFEE!</p>
            <h1>FINEST COFFEE BEANS &<br> DELICIOUS TREATS</h1>
            <a routerLink="/contact" class="btn-reservation">MAKE A RESERVATION</a>
        </div>
        
    </div>
    <div id="SpecialOffers">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <h1>SPECIALTY<br> COFFEE</h1>
                    <img src="./../../assets/images/cofee.jpg">
                    <a routerLink="/menu" class="btn">DETAILS</a>
                </div>
                <div class="about-col-2">
                    <h1>DELICIOUS<br> PASTRIES</h1>
                    <img src="./../../assets/images/pastries.jpg">
                    <a routerLink="/menu" class="btn">DETAILS</a>
                </div>
            </div>
        </div>
    </div>

    <div id="WhyUs">
        <div class="container">
            <div class="WhyUs-text">
                <h1>WHY CHOOSE US?</h1>
                <img src="./../../assets/images/coffee-logo.png">
                <p>WE ARE PASSIONATE ABOUT OUR COFFEE AND OUR CUSTOMERS<br> RECOMMEND US TO OTHERS!</p>
            </div>
        </div>
    </div>

    <div id="services1">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <img src="./../../assets/images/martin-widenka-0rI80lQco18-unsplash.jpg">
                </div>
                <div class="col-2">
                    <h1 class="sub-title">EXPERT BREWING</h1>
                    <p class="line"></p>
                    <p class="paragraph">Our expert baristas ensure that each cup of coffee is brewed to perfection,
                        using the finest beans and precise techniques to bring out the best flavors.</p>
                    <a routerLink="#" class="btn">DETAILS</a>
                </div>
            </div>
        </div>
    </div>
    <div id="services2">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h1 class="sub-title">COZY AMBIENCE</h1>
                    <p class="line"></p>
                    <p class="paragraph">Enjoy your coffee in a warm and welcoming environment, perfect for relaxing,
                        working, or catching up with friends.</p>
                    <a routerLink="#" class="btn">DETAILS</a>
                </div>
                <div class="col-4">
                    <img src="./../../assets/images/nathan-dumlao-nBJHO6wmRWw-unsplash.jpg">
                </div>
            </div>
        </div>
    </div>
    <div id="services3">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <img src="./../../assets/images/nathan-dumlao-PX1IrPsimHE-unsplash.jpg">
                </div>
                <div class="col-6">
                    <h1 class="sub-title">DELICIOUS TREATS</h1>
                    <p class="line"></p>
                    <p class="paragraph">Indulge in our wide selection of pastries, cakes, and snacks, all made fresh
                        daily to perfectly complement your coffee.</p>
                    <a routerLink="#" class="btn">DETAILS</a>
                </div>
            </div>
        </div>
    </div>

    <div id="SpecialProjects">
        <div class="container">
            <div class="SpecialProjects-text">
                <h1>HAVE A SPECIAL REQUEST?</h1>
                <a routerLink="/contact" class="btn-specialproject">LET'S TALK</a>
            </div>
        </div>
    </div>

    <div id="social-media">
        <div class="container">
            <h1 class="social-media-title">Follow Us</h1>
            <div class="social-media-list">
                <div class="media">
                    <img src="./../../assets/images/ig.jpg">
                    <div class="layer">
                        <h2>Instagram</h2>
                        <p>FOLLOW</p>
                        <a routerLink="https://www.instagram.com/yourcoffeeshop" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class="media">
                    <img src="./../../assets/images/yt.jpg">
                    <div class="layer">
                        <h2>YouTube</h2>
                        <p>SUBSCRIBE</p>
                        <a routerLink="https://www.youtube.com/yourcoffeeshop" target="_blank"><i
                                class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
                <div class="media">
                    <img src="./../../assets/images/tk.jpg">
                    <div class="layer">
                        <h2>TikTok</h2>
                        <p>FOLLOW</p>
                        <a routerLink="https://www.tiktok.com/@yourcoffeeshop" target="_blank"><i
                                class="fa-brands fa-tiktok"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav2">
        <div class="container">
            <nav><a routerLink="/">
                    <img src="./../../assets/images/coffee-logo.png" class="logo">
                </a>
                <p>Copyright by<br> YOUR COFFEE SHOP</p>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/about-us">About Us</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
